<div class="container">
  <div>
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members">
        {{member}}
      </li>
    </ul>
    <div class="add-members-container">
      <input #addMemberInput [value]="newMember" type="text" placeholder="name" (input)="onInput(addMemberInput.value)">
      <button (click)="addMember()">Add</button>
    </div>
    <div class="generate-teams-container">
      <input #teamCount type="text" placeholder="# teams" (input)="changeTeamCount(teamCount.value)">
      <button (click)="generateTeams()">Generate</button>
    </div>
    <p *ngIf="errorMessage">{{errorMessage}}</p>
  </div>
  <div>
    <h1>Teams</h1>
    <ul class="list">
      <li *ngFor="let team of actualTeams">
        <ul class="list">
          <li *ngFor="let member of team">
            {{member}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
